name: flutter_bloc_journey
description: "A new Flutter project."
publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  flutter_screenutil: ^5.9.3
  http: ^1.5.0
  bloc: ^9.1.0
  flutter_bloc: ^9.1.1
  google_fonts: ^6.3.2



dev_dependencies:
  flutter_test:
    sdk: flutter

  json_serializable: ^6.11.1
  build_runner: ^2.10.1


  flutter_lints: ^5.0.0


flutter:


  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

